# Module 1 Homework

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# 1. What's the version of Pandas that you have installed?
pd.__version__

'2.3.2'

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [8]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [9]:
# 2. How many records are in the dataset?
num_records = len(df)
print(num_records)

9704

In [10]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [ ]:
# 3. How many fuel_types are in the dataset?
fuel_types = df['fuel_type'].nunique()
print(fuel_types)

2

In [13]:
# 4. How many columns in the dataset have missing values?
missing_values_count = df.isnull().sum()
columns_with_missing_values = missing_values_count[missing_values_count > 0]
num_columns_with_missing_values = len(columns_with_missing_values)
print(num_columns_with_missing_values)

4

In [15]:
# 5.What's the maximum fuel efficiency of cars from Asia?
max_fuel_efficiency_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print(max_fuel_efficiency_asia)

23.759122836520497

1. Find the median value of horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

In [18]:
# Find median value of horsepower column in the dataset.
median_horsepower = df['horsepower'].median()
print(f"Median Horsepower: {median_horsepower}")

# Calculate the most frequent value of the same horsepower column.
most_frequent_horsepower = df['horsepower'].mode()[0]
print(f"Most Frequent Horsepower: {most_frequent_horsepower}")

# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df['horsepower'].fillna(most_frequent_horsepower, inplace=True)

# Now, calculate the median value of horsepower once again.
new_median_horsepower = df['horsepower'].median()
print(f"New Median Horsepower: {new_median_horsepower}")

Median Horsepower: 149.0
Most Frequent Horsepower: 152.0
New Median Horsepower: 152.0

/tmp/ipykernel_7052/2979464615.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(most_frequent_horsepower, inplace=True)

1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [25]:
# Select all cars from Asia. Select only columns vehicle_weight and model_year. Select the first 7 values.
asia_cars = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)
print(asia_cars)

# Get the underlying NumPy array. Let's call it X.
X = asia_cars.to_numpy()
print(X)

# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = np.dot(X.T, X)
print(XTX)

# Invert XTX.
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)

# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print(y)

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = np.dot(XTX_inv, np.dot(X.T, y))
print(w)

# What's the sum of all the elements of the result?
sum_w = np.sum(w)
print(f"Sum of all elements in w: {sum_w}")

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019
[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]
[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]
[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]
[1100 1300  800  900 1000 1100 1200]
[0.01386421 0.5049067 ]
Sum of all elements in w: 0.5187709081074039